$main-color = #1DA1F2
$text-color = white

body
    font-family 'Roboto'
    display flex
    justify-content center
    align-items center
    height 100vh
    padding 0
    background linear-gradient(to top, darken($main-color, 10%), $main-color)
    color $text-color