.Hero
    display flex
    justify-content center
    flex-direction column
    text-align center
    max-width 500px

    &__greeting
        font-size 32px
        color lighten($main-color, 90%)

    &__message
        font-size 22px